@charset "utf-8";


@media screen and (min-width:600px ){

    body{
        width: 600px;
        margin: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
}
@media screen and (max-width:600px ){
    
   body{
       font-family: Georgia, 'Times New Roman', Times, serif;
   }
    nav a{
        margin-right: 3px;
        display: inline-table;
    }
    video{
        width: 320px;
    }
    
     


}

    .nome{
            background-color:rgb(2, 205, 2) ;
            
            margin: -8px;
            text-shadow: 1px 1px 1px black;
            text-align: center;
            font-family: 'Times New Roman', Times, serif ;
            padding: 4px;
        }
        .logo{
            border-radius: 20px;
            width: 200px;
            height: 230px;
            box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.289);

        }
        header{
            padding: 10px;
            margin-top: 30px;
            text-align: center;
        }
        header p{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 18px;
            text-align: justify;
            text-indent: 15px;
        }
        header li{
            font-size: 17px;
            color: red;
            font-weight: bold;
            font-family:Verdana, Geneva, Tahoma, sans-serif, 'Lucida Sans', Arial, sans-serif;
        }
        nav{
            margin-bottom: 20px;
        }
        nav a{
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: white;
            text-decoration: none;
            margin-top: 10px;
            background-color: black;
            padding: 5px;
            border-radius: 10px;
            font-weight: bold;
            margin:5px;
            box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.275);
        }
        nav a:hover{
            background-color:rgb(2, 205, 2) ;
            text-decoration: underline;
            color: white;

        }

        
        main{
            text-align: center;
        }
        main h2{
            display: block;
            margin: auto;
            text-align: center;
            background-color: rgb(2, 205, 2);
            width: 140px;
            padding: 5px;
            border-radius: 15px;
        }
        main img{
            border-radius: 10px;
            width: 200px;
            height: 230px;
            box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.289);
        }
        main p{
            text-align: justify;
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 15px;
            font-size: 17px;
        }
        video{
            display: block;
            margin: auto;
            width:340px;
            height: 220px;
            border-radius: 15px;
            margin-bottom: 15px;
            

        }
        section{
            text-align: center;
            margin-top: 30px;

            
        }
        
        div{
            display: inline-table;
            margin: auto;
            box-shadow: 1px 1px 4px 1px black;
            border-radius: 20px;
            width: 150px;
            height: 150px;
            padding: 10px;
            margin: 8px;
            margin-right:5px ;
        }
        div h3{
            margin-top: -4px;
            padding: 5px;
            background-color: rgb(2, 205, 2);
            border-radius: 20px;
        }
        div img{
        
            padding: 10px;
            width: 130px;
            height: 130px;
            
        }
        
        
        
        div a{
            background-color: rgb(2, 205, 2);
            text-decoration: none;
            color: blue;
            margin-top: -2px;
            padding: 6px;
            border-radius: 20px;
            color: black;
            font-weight: bold;

        }
        div a:hover{
            text-decoration: underline;
        
            background-color: aquamarine;

        }
        div p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 18px;
        }
        .midias{
            padding: 0px;
            display: inline-table;
            margin: 10px;
            border-radius: 15px;
            width: 54px;
            height: 54px;
        }
    
        .midias img{
            
            border-radius: 15px;
            width: 50px;
            height: 50px;
        }
        .midias:hover{
           
            box-shadow: 1px 1px 4px 1px black;
        }
    
        footer{
            margin-bottom: 50px;
        }
        footer li{
            font-size: 17px;
        }
        footer p{
            font-size: 17px;
            text-align: center;
            padding: 10px;
        }


    
    